* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input {
  font-family: "Inter", sans-serif;
  border: 1px solid rgb(203, 203, 203);
}

input:focus {
  outline: none;
}

.message-prompt-blk {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ff5656;
  margin-top: 5px;
}

.navigation-blk {
  background: #561cbe;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.navigation-blk div:last-child {
  margin-left: auto;
}
.navigation-blk .brand-blk {
  font-family: "Inter", sans-serif;
  color: #fff;
}
.navigation-blk .brand-blk p {
  display: inline-block;
}
.navigation-blk .brand-blk .fa-sun {
  color: yellow;
  margin-right: 5px;
}
.navigation-blk .logout-btn-blk {
  background: #561cbe;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #655aab;
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 3px;
}

.main-container-blk {
  padding: 20px 40px;
}

.dashboard {
  display: flex;
  gap: 40px;
}
.dashboard h2 {
  font-family: "Open Sans", sans-serif;
  color: #000;
  display: block;
  margin-bottom: 10px;
}
.dashboard label {
  margin-top: 5px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  display: block;
}
.dashboard label b {
  color: #561cbe;
  margin-right: 5px;
}
.dashboard div:first-child {
  flex: 1;
}
.dashboard div:last-child {
  flex: 3;
}
.dashboard img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.search-city-input {
  width: 100%;
  padding: 10px;
}

.search-container-blk {
  display: flex;
}
.search-container-blk input[type=text] {
  border-right: 0px;
}
.search-container-blk button {
  background-color: #561cbe;
  padding: 0px 30px;
  color: #fff;
  border: 1px solid #561cbe;
}

.table-weather-blk {
  width: 998px;
  margin: 0 auto;
  display: block;
  font-family: "Open Sans", sans-serif;
}
.table-weather-blk h1 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  color: #561cbe;
}
.table-weather-blk button {
  display: block;
  background-color: #561cbe;
  color: #fff;
  padding: 10px;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin-left: auto;
  border: none;
}
.table-weather-blk .table-container-blk {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  gap: 1px;
  background: #6b26eb;
}
.table-weather-blk .table-container-blk div {
  flex: 1;
}
.table-weather-blk .table-container-blk div h2 {
  background: #561cbe;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  padding: 10px;
}
.table-weather-blk .table-container-blk div p {
  text-align: center;
  background: rgb(215, 215, 215);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
}

.login-container-blk {
  background: rgb(247, 247, 247);
  width: 600px;
  padding: 50px;
  margin: 50px auto;
}
.login-container-blk h1 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
  line-height: 40px;
  font-size: 30px;
  color: #561cbe;
  display: block;
  margin-bottom: 0px;
}
.login-container-blk p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #353535;
  display: block;
  margin-bottom: 20px;
}
.login-container-blk .login-btn-blk {
  display: block;
  width: 100%;
  padding: 6px;
  color: #fff;
  border: none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  padding: 10px;
  background: #561cbe;
}

.spinner-blk {
  border-radius: 50%;
  animation: spinAnimation 1s linear infinite;
}

.small-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #561cbe;
  border-top: 3px solid rgb(122, 66, 253);
}

.large-spinner {
  width: 100px;
  height: 100px;
  border: 15px solid #561cbe;
  border-top: 15px solid rgb(122, 66, 253);
}

.medium-spinner {
  width: 70px;
  height: 70px;
  border: 10px solid #561cbe;
  border-top: 10px solid rgb(122, 66, 253);
}

.center-spinner {
  margin: 10px auto;
  display: block;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 598px) {
  .navigation-blk .brand-blk i {
    font-size: 25px;
  }
  .navigation-blk .brand-blk p {
    display: none;
  }
  .table-weather-blk {
    width: 100%;
    padding: 20px 40px;
  }
  .table-weather-blk h1 {
    margin-top: 0px;
  }
  .table-weather-blk .table-container-blk {
    background: #fff;
    gap: 10px;
    flex-direction: column;
  }
  .dashboard {
    flex-direction: column;
    gap: 20px;
  }
}/*# sourceMappingURL=styles.css.map */